main {
  background-color: #f1f7ed;
  border-radius: 1em;
  box-shadow: #91c7b1 0px 0px 10px;
  color: #020202;
  padding: 1em;
  margin: 1em;

  a {
    color: #020202;
  }

  section {
    border: #91c7b1 1px solid;
    border-radius: 0.75em;
    padding: 0.5em;
    margin-bottom: 1em;
  }

  .aboutme {
    display: flex;
    flex-flow: column;

    #headshot-img {
      width: 90%;
      max-width: fit-content;
      border-radius: 0.75em;
      align-self: center;
      justify-self: center;
    }
  }

  .about__personal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about__personal__title {
    grid-row: 1 / span 1;
  }

  #wedding-img {
    width: 90%;
    max-width: fit-content;
    border-radius: 0.75em;
    align-self: center;
    justify-self: center;
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
  }

  .cats {
    grid-column: span 1;
    grid-row: 4 / span 1;
    width: 99%;
    max-width: 250px;
    border-radius: 0.75em;
    justify-self: center;
    align-self: center;
  }

  #cats-desc {
    grid-row: 5 / span 1;
    grid-column: 1 / -1;
  }

  #wedding-desc {
    grid-row: 3 / span 1;
    grid-column: 1 / -1;
  }

  img {
    min-width: 50px;
  }

  .projects__resume__description__link {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;

    a {
      font-weight: bold;
    }
  }

  #whoami {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  main {
    .about {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .aboutme {
      #headshot-img {
        align-self: baseline;
      }

      p {
        width: 90%;
      }
    }

    #wedding-img {
      justify-self: baseline;
    }

    .projects__resume__description__link {
      display: flex;
      align-items: start;
    }
  }
}
