@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

body {
    background-color: #020202;
    font-family: 'Courier New', Courier, monospace;
    color: #faa141;
}

body p {
    text-align: left;
    font-size: 2em;
    width: 50%;
    padding: 1em;
}

.error {
    display: inline-block;
    overflow: hidden; /* Ensures text doesn't overflow */
    white-space: nowrap; /* Prevents text from wrapping */
    animation: typing 4s steps(60, end);
    margin: 0 auto;
}

.error::after {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 1em;
    margin-left: 0.5em;
    background-color: #faa141;
    animation: blink .5s infinite;
}

a {
    color: #faa141;
}